{% extends 'base.html' %}
{% block content %}
{% load ticket_extras %}
<div class="card ">
    <div class="container">
        <form class="no-margin" action="" method="post">
            {% csrf_token %}
            <p>Voulez‑vous vraiment supprimer cette revue ?</p>
            <div class="horizontal-align align-center-horizontal margin_top">
                <div class="btn-content">
                    <input class="button-content" formaction="{% url 'review_delete' review_id %}" type="submit"
                           value="Confirmer">
                </div>
                <div class="btn-content">
                    <input class="button-content" role="button" formaction="{% url 'home'%}" type="submit"
                           value="Abandonner">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}