{% load static %}
<html>
<head>
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>
<body>
<nav>
    <a href="{% url 'home' %}">LITRevu</a>
    <ul class="list">
        <li><a href="{% url 'home' %}">Flux</a></li>
        <li><a href="{% url 'my_posts' %}">Mes posts</a></li>
        <li><a href="{% url 'follow' %}">Abonnements</a></li>
        <li>
            <form class="center-items" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn-logout" type="submit">Se déconnecter</button>
            </form>
        </li>
        <li>Utilisateur : {{ user }}<li>
    </ul>
</nav>
<div class="main">
    {% block content %}{% endblock content %}
</div>
</body>
</html>
