{% load static %}
<html>
    <head>
        <title>LITRevu</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <div class="sidebar">
            <h1><a href="{% url 'home' %}">LITRevu</a></h1>
            <br>
            {% if user.is_authenticated %}
                <p>Salut, {{ user }} !</p>
                <p><a href="{% url 'home' %}">Flux</a></p>
                <p><a href="">Vos posts</a></p>
                <p><a href="{% url 'follow' %}">Abonnements</a></p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn-logout" type="submit">Se déconnecter</button>
                </form>

            {% endif %}<a></a>
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
